*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(32022-negro.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.icono-menu{
    -ms-wrap-margin: 40px 50px;
    position: relative;
    z-index: 10;
}
.icono-menu{
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
    width: 400px;
}
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}
.conten{
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2px rgba(255, 255, 255, 0.635);
    width: 310px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;

}
.active{
    transform: translate(-600px);

}
.opacity{
    background-color: rgb(255, 255, 255);
    transition: all .5s ease;
}

.conten ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
.conten ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.conten ul li:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
}
footer{
    width: 100%;
    position: relative;
    top: 90vh;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 80px;
    margin-bottom: 1rem;
}
.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-image: url(insta.jpg);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: rgb(255, 255, 255);
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image:url(twit.png) ;
}
.social-icon:nth-of-type(3){
    background-image:url(discro.png) ;
}
.footer-menu-container{
    list-style-type: none;
    color: #fff;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: #fff;
    opacity: 0.3;
    text-align: center;
}
.texto{
    position: absolute;
    color: white;
    font-size: 100px;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    align-content: center;
    border-bottom: .7vw solid #fff;
    overflow: hidden;
    animation: animate 4s linear forwards;
}
.texto p{
    font-size: 50px;
    color: #fff;
}
@keyframes animate{
    0%{
        width: 0;
        height: 0;
    }
    30%{
        width: 50%;
        height: 0;
    }
    60%{
        width: 59vw;
        height: 16vw;
    }
    80%{
        width: 59vw;
        height: 16vw;
    }
    100%{
        width: 49vw;
        height: 13vw;
    }
}   
.gato{
    position: absolute;
    margin-top: 23%;
    margin-left: 38%;
    display: none;
}